body{
  background: #bdbfc4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin:auto;
  width:100%;
}

.App{
  width:90%;
  margin:100px auto; 
  border:1px solid #000000;
  margin:auto;
  width: 90%;
} 
.header{
  display:flex; 
   justify-content: space-between;
   margin: auto;
   width:100%;
 }
 
 .headerMenu a{
     display:inline-block;
     margin:0 10px;
     text-decoration:none;
     color:#030303;
     font-size: 18px;
     letter-spacing:  1.2px;
 }
 .headerMenu a:hover{
     color:#040808;
 }